/node_modules
/public/storage
/vendor
/vendor/composer/
/.idea
Homestead.json
Homestead.yaml
.env
/nbproject
/public/modules
/public/themes
/cookie.txt
/public/evaluation
/public/logos
/public/client_images/
/public/img/logo.png
/resources/views/modules/
/resources/views/vendor/
/resources/frontend
sync.bat
/config/ignite.*
.DS_Store
_ide_helper.php
_ide_helper_models.php
.vscode/
yarn.lock
package-lock.json

# Ignore to refrain the platform repo from growing
/Modules/
/Themes/
/storage
*.zip
*.log
/dumps/
/_files
